*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
.login-section{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
form{
  display: flex;
  flex-direction:column;
  gap: 20px;
}
form input{
  padding: 10px;
  font-size: 16px;
}
button{
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #007BFF;
}
button:actve{
  scale: 0.97;
}
.navbar{
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 1rem;
  background-color: #007BFF;

}
.navbar a{
  color: white;
  text-decoration: none;
  font-size: 18px;
}
.navbar:active{
  border-bottom: 1px solid black;
}
.about-page{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 20px;
  align-items: center;
  
}