.btn{
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  background-color: #ccc;
  font-weight: 400;
  cursor: pointer;
  background-color: #54cea9;
  font-size: 0.9rem;
}
.btn:active{
  scale: 0.96;
  background-color: rgb(92, 172, 92);
}